{% extends '_layout.html' %}
{% load static %}

{% block content %}
    <div>
        <div class="center-align">
            <h3>Create prediction</h3>
        </div>
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Social Media Post</label>
                </div>
              </div>
            </form>
          </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}