{% extends '_layout.html' %}

{% block content %}
    <h1 class="my-3">Create prediction</h1>
    <p>Enter the text of the social media post you want to predict the engagement of.</p>
    <div>
        <p>Some good examples:</p>
        <ul>
            <li>15m flood peak for Ipswich at 6pm tonight | Ipswich Queensland Times http://t.co/1GjdNtSm</li>
            <li>#Australia Brisbane expected to flood http://t.co/k7vIyG9e</li>
        </ul>
    </div>
    <form method="POST" action="">
        <div class="row">
            <div class="col">
                {% csrf_token %}
                <label for="SocialMediaPost" class="fs-4 form-label mt-md-0 mt-3">Social Media Post Text</label>
                <textarea required name="SocialMediaPost" class="form-control rounded-2"
                          id="SocialMediaPost" rows="5">{{ text }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3 text-center">
                <button id='submit' class="btn btn-blue" name="microservices">Predict with microservices</button>
            </div>
            <div class="col mt-3 text-center">
                <button id='submit' class="btn btn-warning" name="camunda">Predict with CAMUNDA</button>
            </div>
            <div class="col mt-3 text-center">
                <button id='submit' class="btn btn-info" name="kafka">Predict with KAFKA</button>
            </div>
        </div>
    </form>

    {% if prediction %}
        {% include 'prediction_comp.html' %}
        <div class="justify-content-center d-flex mb-3">
            <a href="{% url 'prediction_detail' prediction.id %}" class="btn btn-primary mt-3">View Prediction</a>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                if ($("#SocialMediaPost").val() === "") {
                    return true;
                }
                $("#overlay").fadeIn(300);
            });
        });
    </script>
{% endblock %}